*__pycache__*
/__pycache__/*
algorithms/__pycache__/__init__.cpython-312.pyc

# ignore all .pyc files
*.pyc

# ignore .vscode settings
.vscode/
algorithms/__pycache__/__init__.cpython-312.pyc
networks/__pycache__/core.cpython-312.pyc
networks/__pycache__/__init__.cpython-312.pyc
algorithms/__pycache__/ppo.cpython-312.pyc
